* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
html {
    height: 100vh;
    width: 100vw;
}

body {
    all: unset;
  }

header {
    height: 8%;
}

canvas {
    height: 88%;
}

footer {
    height: 4%;
} */